body {
    text-align: center;
    padding-top: 40px;
    font-family: "Lucida Console", Monaco, monospace;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-right {
  margin-right: 0;
  font-size: 1.5em;
}